<table class="table-hover table-striped">
  <thead> <!--coluna-->
    <th>Nome</th>
    <th>Departamento</th>
    <th></th>
  </thead>

  <tbody> <!--linhas e campos-->
    <!--a diretiva *ngFor percorre todos os funcionarios-->
    <tr *ngFor="let funcionario of funcionarios | async"> <!--usamos o pipe async por causa do método asObservable()-->
      <td>{{funcionario.nome}}</td> <!--interpolação para pegar a variável nome do objeto funcionário-->
      <td>{{funcionario.departamento}}</td>
      <td>
        <button class="btn btn-info" (click)="edit(funcionario, funcionario.key)">Editar</button>
        <button class="btn btn-danger ml-2" (click)="delete(funcionario.key)">Excluir</button>
        <!--ao clicar ele chama o método edit ou delete de funcionarioService e passa os parâmetros-->
      </td>
    </tr>
  </tbody>
</table>