<h3>Cadastro de Funcionários</h3>

<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Nome</label>
    <input type="text" name="nome" [(ngModel)]="funcionario.nome" class="form-control"
     placeholder="Nome do Funcionário"/>
  </div>

  <div class="form-group">
    <label>Departamento</label>
    <input type="text" name="departamento" [(ngModel)]="funcionario.departamento" class="form-control"
      placeholder="Departamento"/>
  </div>

  <button class="btn btn-primary">Gravar</button>
</form>